
    <h1>Login</h1>
    <hr>
    <div class="col-md-4">
        <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="doLogin(loginForm.value)">

        <div class="form-group" >
          <label for="userName">User Name:</label>
          <input id="userName"
                required
                (ngModel)="userName"
                #userNameCtrl
                name="userName"
                type="text" 
                class="form-control" 
                placeholder="User Name..."
                minlength="3"
                [ngClass]="{'inValid':(userNameCtrl.touched || userNameCtrl.dirty) && !userNameCtrl.valid}"
         
                />
               sdsd {{userNameCtrl.valid}}
            </div>
        <div class="form-group" >
          <label for="password">Password:</label>
          <input id="password" (ngModel) ="password" name="password"
                type="password" 
                class="form-control"
                placeholder="Password..."
                minlength="3"
                required />
        </div>
            
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
      </form>

      
    </div>
